{% set title = 'Login' %}
{% extends 'base.html' %}
{% block main %}
<form id="login-form" class="flex-wrapper flex-wrapper-col form-wrapper" method="POST" enctype="application/x-www-form-urlencoded">
    <h3>Please Login</h3>
    <p id="login-message"></p>
    <hr>
    <input class="form-input-generic" type="email" name="email" placeholder="Your Email*" required>
    <input class="form-input-generic" type="password" name="password" placeholder="Your Password*" required>
    <hr>
    <input class="form-input-generic" type="submit" value="Login">
    <small class="form-text"><a href="#">Forgot Password?</a></small class="form-text">
    <p class="form-text">Or Don't Have An Account Yet? <a href="{{ url_for('register') }}">Register here</a></p>
    <input id="login-csrf-token" type="hidden" name="{{ x_csrf_key }}" value="{{ x_csrf_token }}">
</form>
{% endblock main %}
{% block script %}
<script>
    let loginForm = document.getElementById('login-form');
    let loginMessage = document.getElementById('login-message');
    loginMessage.style.display = 'none';

    let loginCsrfToken = document.getElementById('login-csrf-token');
    let loginCsrfValue;

    let formSubmitEvent = (event) => { 
        event.preventDefault();

        if(loginCsrfToken === null){
            throw new Error('Failed to send request');
        }
        
        if(loginCsrfToken !== null){
            loginCsrfValue = loginCsrfToken.getAttribute('value');
        }

        let header = new Headers({
            'Accept': 'text/html, text/plain; charset=UTF-8',
            'X-CSRF-Token': loginCsrfValue
        });

        let request = new Request('{{ url_for("login") }}', {
            method: 'POST',
            headers: header,
            body: new FormData(loginForm)
        });

        fetch(request)
        .then((response) => {
            if(response.status === 400){
                throw new Error(`${response.status}: ${response.statusText}`);
            }
            if(response.status === 401) {
                return response.text();
            }
            if(response.status === 200){
                window.location.href = "{{ url_for('home') }}"
            }
        })
        .then((text) => {
            if(text != null){
                loginMessage.style.display = 'inherit';
                loginMessage.innerHTML = text;
            }
        })
        .catch((error) => {
            console.log(error)
        });
    };

    loginForm.addEventListener('submit', formSubmitEvent);
</script>
{% endblock script %}
