{% set title = 'Login' %}
{% extends 'base.html' %}
{% block main %}
<form class="form wrap-flex wrap-col" id="login-form" action="{{ url_for('home') }}" method="POST" enctype="application/x-www-form-urlencoded">
    <h3>Please Login</h3>
    <hr>
    <div class="wrap-flex wrap-row wrap-flex-end form-row">
        <input class="form-input" type="email" name="email" placeholder="Your Email*" required>
    </div>
    <div class="wrap-flex wrap-row wrap-flex-end form-row">
        <input class="form-input" type="password" name="password" placeholder="Your Password*" required>
    </div>
    <hr>
    <div class="wrap-flex wrap-row form-row-bottom">
        <input class="form-button" type="submit" value="Login">
    </div>
    <div class="wrap-flex wrap-col">
        <small class="form-options"><a href="#">Forgot Password?</a></small>
        <p class="form-options">Or Don't Have An Account Yet? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>
</form>
{% endblock main %}
