{% set title = 'Register' %}
{% extends 'base.html' %}
{% block main %}
<form id="register-form" class="flex-wrapper flex-wrapper-col form-wrapper" method="POST" enctype="application/x-www-form-urlencoded">
    <h3>Create an Account</h3>
    <p id="register-message"></p>
    <hr>
    <input class="form-input-generic" type="text" placeholder="Your First Name*" name="firstName" required>
    <input class="form-input-generic" type="text" placeholder="Your Last Name*" name="lastName" required>
    <input class="form-input-generic" type="email" placeholder="Your Email*" name="email" required>
    <input class="form-input-generic" type="password" minlength="8" placeholder="Enter Your Password*" name="password" required>
    <input class="form-input-generic" type="password" minlength="8" placeholder="Confirm Your Password*" name="confirmPassword" required>
    <hr>
    <input class="form-input-generic" type="submit" value="Register">
    <small class="form-text">By clicking register, you agree on our <a href="#">terms and conditions.</a></small class="form-text">
    <p class="form-text">Already Have An Account? <a href="{{ url_for('login') }}">Login here</a></p>
    <input id="register-csrf-token" type="hidden" name="{{ x_csrf_key }}" value="{{ x_csrf_token }}">
</form>
{% endblock main %}
{% block script %}
<script>
    let registerForm = document.getElementById('register-form')
    let registerMessage = document.getElementById('register-message');  
    registerMessage.style.display = 'none';

    let registerCsrfToken = document.getElementById('register-csrf-token');
    let registerCsrfValue;

    let formSubmitEvent = (event) => {
        event.preventDefault();

        if(registerCsrfToken === null){
            throw new Error('Failed to send request');
        }

        if(registerCsrfToken !== null){
            registerCsrfValue = registerCsrfToken.getAttribute('value');
        }

        let registerHeader = new Headers({
            'Accept': 'text/html, text/plain; charset=UTF-8',
            'X-CSRF-Token': registerCsrfValue
        });

        let registerRequest = new Request("{{ url_for('register') }}", {
            method: 'POST',
            headers: registerHeader,
            body: new FormData(registerForm)
        });

        fetch(registerRequest)
        .then((response) => {
            if(response.status === 400){
                throw new Error(`${response.status}: ${response.text}`);
            }

            if(response.status === 401){
                return response.text();
            }

            if(response.status === 200){
                window.location.href = "{{ url_for('login') }}";
            }
        })
        .then((data) => {
            if(data !== null){
                registerMessage.style.display = 'inherit';
                registerMessage.innerHTML = data;
            }
        })
        .catch((error) => {
            console.log(error)
        });
    }

    registerForm.addEventListener('submit', formSubmitEvent);

</script>
{% endblock script %}
