{% set title = 'Register' %}
{% extends 'base.html' %}
{% block main %}
<form action="" method="POST" enctype="application/x-www-form-urlencoded">
    <h3>Register an Account!!!</h3>
    <label for="firstName">First Name</label>
    <input type="text" placeholder="Enter First Name..." name="firstName" required>
    <label for="lastName">Last Name</label>
    <input type="text" placeholder="Enter Last Name..." name="lastName" required>
    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email..." name="email" required>
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password..." name="password" required>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" placeholder="Confirm Password..." name="confirmPassword" required>
    <p>Already Have An Account? Go to <a href="{{ url_for('login') }}">Login</a> </p>
</form>
{% endblock main %}
