body, 
header,
main, 
footer 
{
	width: 100%;
}

header, 
footer 
{
	height: 100px;
	border: 1px solid grey;
}

body .body-wrapper
{
	width: 80%;
	margin: auto;
}

main 
{
	height: calc(100vh - 100px);
	padding-top: 10%;
}

footer 
{
	position: relative;
	margin-top: 0px;
}

@media only screen and (min-width: 414px)
{
	main
    {
        padding-top: 40px;
    }
}
