.form
{
    display: flex;
    flex-direction: column;
}

.form input
{
    border-bottom: 1px solid grey;
    margin: 12px 0;
}

.form input[type=submit]
{
    padding: 4px 0;
    width: 50%;
    margin: 12px auto;
    border: none;
    border-radius: 16px;
}

@media only screen and (min-width: 414px)
{
    .form
    {
        width: 330px;
        margin: auto;
        padding: 36px;
        border: 1px solid grey;
        border-radius: 16px;
    }
}
