/*
/* default style definitions
*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-size: inherit;
}

input {
    font-size: .75rem;
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    line-height: 4rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.17rem;
    line-height: 2.34rem;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
}

h5 {
    font-size: .83rem;
    line-height: 1.66rem;
}

h6 {
    font-size: .67rem;
    line-height: 1.34rem;
}

ul {
    list-style: none;
}

a, p, span {
    font-size: .875rem;
    line-height: 1.75rem;
}

body, html {
    height: 100%;
}

/* 
/* base style definition
*/
header {
    position: fixed;
    top: 0%;
}

main {
    padding: 120px 0px 100px 0px;
    min-height: calc(100vh - 100px);
}

footer {
    bottom: 0%;
    margin-top: 100px;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    margin: 24px 0px;
}

body, header, main, footer{
    width: 100%;
}
header, footer{
    height: 100px;
}

/*
/* wrap style definitions
*/
.wrap-width{
    width: 80%;
    margin: auto;
}

/*
/*  header style definitions
*/
.header-div{
    display: flex;
    align-items: baseline;

    position: relative;
    top: 25%;
}
.header-div__row{
    flex-basis: 50%;
}
.header-div__row--end{
    display: inherit;
    align-items: inherit;
    justify-content: flex-end;
}
.header-div-nav{
    display: none;
    align-items: inherit;
}
.header-div-nav__link{
    margin: 0px 12px;
}
.header-div-nav__drop{
    display: inherit;
    align-items: flex-end;
}
.header-div-search{
    display: none;
    align-items: center;

    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px 8px;
}
.header-div-search__search{
    border: none;
}
.header-div-icon-bar{
    display: inherit;
    position: relative;
    transform: translateY(7px);
}
@media screen and (min-width: 768px)
{
    .header-div-nav,
    .header-div-search{
        display: inherit;
    }
    .header-div-icon-bar{
        display: none;
    }
}

/*
/*  drop navigation style definitions
*/
.drop-nav{
    position: absolute;
    top: 100px;
    left: 10%;
}
.drop-nav__li{
    padding: 4px 0px;
}
.drop-nav__input{
    width: 100%;
}
.drop-nav__input__search{
    width: inherit;
    padding: 4px;
}
.drop-nav__li-drop{
    display: flex;
    align-items: flex-end;
}
