/*
/* default style definitions
*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-size: inherit;
}

input {
    font-size: .75rem;
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    line-height: 4rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.17rem;
    line-height: 2.34rem;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
}

h5 {
    font-size: .83rem;
    line-height: 1.66rem;
}

h6 {
    font-size: .67rem;
    line-height: 1.34rem;
}

ul {
    list-style: none;
}

a {
    font-size: .875rem;
    line-height: 1.75rem;
}

p {
    font-size: .875rem;
    line-height: 1.75rem;
}

span {
    font-size: .875rem;
    line-height: 1.75rem;
}

body, html {
    height: 100%;
}

/* 
/* base style definition
*/
body, header, main, footer{
    width: 100%;
}
header, footer{
    height: 100px;
}

header {
    position: fixed;
    top: 0%;
}

main {
    padding: 180px 0px 100px 0px;
    min-height: calc(100vh - 100px);
}

footer {
    bottom: 0%;
    margin-top: 100px;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    margin: 24px 0px;
}

/*
/* header style definitions
*/
header {
    border: 1px solid grey;
}

/* common display flex definitions */
.header,
.header-start,
.header-end,
.header-nav-drop-btn,
.header-nav-drop-menu-is-flex,
.header-icon-bar {
    display: flex;
}

/* common flex-basis 50 definitions */
.header-start,
.header-end {
    flex-basis: 50%;
}

/* common display none definitions */
.header-nav-is-none,
.header-nav-drop-menu-is-none,
.header-search-bar-is-none {
    display: none;
}

/* unique property definitions */
.header {
    /* style wrapper for header's inner div */
    align-items: center;
    transform: translateY(50%);
    width: 80%;
    margin: auto;
}

.header-end {
    align-items: baseline;
    justify-content: flex-end;
}

.header-nav {
    align-items: center;
}

.header-nav-drop-menu {
    flex-direction: column;
    position: absolute;
}

.header-search-bar {
    align-items: center;
    padding: 4px 8px;
    border: 1px solid grey;
    border-radius: 17px;
}

.header-search-bar-add-disp {
    /* this style adds with javascript headerIconSearch event */
    display: flex;
    
    top: 4px;
    left: 0;
    padding: 8px 12px;
    position: fixed;

    background-color: white;
    border-radius: 21px;
}

.header-icon-search {
    border: 1px solid grey;
    padding: 4px;
    border-radius: 50%;
}

.header-icon-menu {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin-left: 8px;
}

@media only screen and (min-width: 768px)
{
    .header-nav-is-flex,
    .header-search-bar-is-flex {
        display: flex;
    }

    .header-is-baseline {
        align-items: baseline;
    }

    .header-icon-bar-is-none {
        display: none;
    }
}

/*
/* header drop menu style defintions
*/
/* common flex display definitions */
.header-drop-menu,
.header-drop-menu-row,
.header-drop-menu-col {
    display: flex;
}

.header-drop-menu-row {
    align-items: center;
}

.header-drop-menu {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    transform: translateY(50px);
    padding: 8px 10%;
    border: 1px solid grey;
}

.header-drop-menu-clear-icon  {
    position: absolute;
    right: 0;
    margin-right: 10%;
}

.header-drop-menu-row {
    flex-direction: row;
}

.header-drop-menu-col {
    flex-direction: column;
}

.header-drop-menu-col-is-none {
    display: none
}

/*
/* search bar style definitions
*/
.search-bar {
    display: flex;
    align-items: center;
    position: fixed;
    left: 10%;
    padding: 4px 8px;
    transform: translateY(-50%);

    background: white;
    border: 1px solid grey;
    border-radius: 19px;
}

.search-bar-toggle-none {
    display: none;
}

.search-bar-icon {
    font-size: 18px;
}

@media only screen and (min-width: 768px)
{
    .search-bar-is-none{
        display: none
    }
}

/*
/*  main style definition
*/
.main {
    /* style wrapper for main inner inner div*/
    width: 80%;
    margin: auto;
}

/*
/* form style definitions
*/
.form {
    /* style wrapper for forms */
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 480px)
{
    .form-width-state {
        width: 360px;
        margin: auto;
        padding: 24px;
        border: 1px solid grey;
        border-radius: 12px;
    }
}

/*
/* navigation link style definitions
*/
.nav-link-row {
    margin: 0 12px;
}

.nav-link-col {
    margin: 4px 0;
}

/*
/* input style definitions
*/
.input-text-search {
    border: none;    
}

.input-text-form {
    outline: 0;
    border: 0;
    border-bottom: 1px solid grey;
    padding: 4px 8px;
    margin-top: 12px;
}

.input-submit-form {
    margin-top: 30px;
}
