<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta id="meta-token" content="{{ request.cookies['X-CSRF-Token'] }}">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>MovieCloud | {{ title }}</title>
</head>
<body>
    
    <header>
        {% include 'header.html' %}
        {% include 'menu.html' %}
    </header>
    
    <main>
        {% block main %}
        
        {% endblock main %}
    </main>

    <footer>
        <h2>Footer</h2>
    </footer>

    {% include 'script.html' %}
    {% block script %} {% endblock script %}
</body>
</html>
