<div class="header header-is-align-items-baseline">
    <div class="header-start">
        <h1>
            <a class="logo" href="{{ url_for('home') }}">MovieCloud</a>
        </h1>
    </div>

    <div class="header-end">
        <nav class="nav nav-row-control nav-is-display">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            <nav class="nav">
                <button id="movie-btn1" class="btn btn-movie">
                    <span>Movies</span>
                    <span class="material-icons">arrow_drop_down</span>
                </button>
                <nav class="nav nav-drop nav-drop-control">
                    <a class="nav-link" href="">Latest</a>
                    <a class="nav-link" href="">Popular</a>
                    <a class="nav-link" href="">More</a>
                </nav>
            </nav>
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </nav>

        <div class="header-end-div">
            <div class="search search-is-display">
                <input type="text" name="search" placeholder="Search...">
                <span class="material-icons">search</span>
            </div>
            <button class="btn btn-menu btn-menu-is-display">
                <span class="material-icons">menu</span>
            </button>
        </div>        
    </div>
</div>

<!--TODO: do css rules
<div id="header-search-box" class="header-search-box">
    <span class="material-icons">search</span>

    <span>
        <input class="search-input" type="text" name="search" placeholder="Search...">
    </span>
    
    <span class="material-icons">clear</span>
</div>
-->