<div class="wrap-header wrap-indent wrap-flex">
    <div class="wrap-flex flex-basis-50">
        <a href="{{ url_for('home') }}"> <h2>MovieCloud</h2> </a>
    </div>
    <div class="wrap-flex flex-basis-50">
        <div class="wrap-flex wrap-row">
            <a class="nav-item" href="{{ url_for('home') }}">Home</a>
            <span class="wrap-flex wrap-row">
                <span>Movies</span>
                <span class="material-icons">arrow_drop_down</span>
            </span>
            <a class="nav-item" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item-accent" href="{{ url_for('register') }}">Register</a>
        </div>
        <div class="wrap-flex wrap-row search-bar">
            <input id="search" class="search" type="search" name="search" placeholder="Search...">
            <span id="search" class="search-icon material-icons">search</span>
        </div class="wrap-flex wrap-row">
    </div>
</div>
