<div id="menu" class="nav nav-menu nav-menu-control js-nav-menu-is-hidden">
    <div class="nav-menu-top-row-control">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        <span id="menu-clear-btn" class="menu-top-row-icon material-icons">clear</span>
    </div>

    <button id="menu-drop-dn-btn" class="btn btn-movie">
        <span >Movies</span>
        <span id="menu-drop-dn-btn-icon" class="material-icons">arrow_drop_down</span>
    </button>

    <nav id="menu-drop-dn-items" class="nav nav-menu">
        <a class="nav-link" href="">Latest</a>
        <a class="nav-link" href="">Popular</a>
        <a class="nav-link" href="">More</a>
    </nav>

    <nav class="nav nav-menu">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </nav>
</div>
